<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{.Title}} | {{.Params.name}} | {{.Params.position}}</title>
    <link rel="stylesheet" href={{ relURL "css/app.css"}}>
</head>

<body>
    <div class="main">
        <header class="intro">
            <div class="copy">
                <h1 class="greeting">Hi! <img class="mypic" src="{{relURL "images/profile.png"}}" alt=""></h1>
                <h2 class="whoami">I'm <span>{{.Params.name}}</span></h2>
            </div>
        </header>
        {{ partial "about/about.html" . }}
        {{ partial "jobs/jobs.html" . }}
        {{ partial "footer.html" . }}
    </div>
</body>

</html>