<section id="jobs" class="jobs-container">
    <header class="seperator">
        <h4>Work History</h4>
    </header>
    {{ range where (.Pages.ByParam "order").Reverse "Section" "jobs" }}
    <section class="jobs">
        <header>
            <h4>{{.Title}}<span class="job-title"> | {{.Params.job}}</span></h4>
            <p class="dates">
                <span class="start">{{ .Params.start}}</span> - <span class="end">{{ .Params.end}}</span>
            </p>
        </header>
        <article>
            {{.Content}}
        </article>
    </section>
    {{end}}