@import url("typography.css");

img {
    max-width: 100%;
}

.main {
    max-width: 1024px;
    width: 100%;
    position: relative;
    margin: 0 auto;
    padding: 10px 20px;
    box-sizing: border-box;
}

.intro {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.intro .greeting {
    font-size: 10em;
}

.copy img {
    width: 135px;
}

.profile img {
    width: 60%;
}

.job-title {
    font-weight: 400;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .job-title {
    white-space: nowrap;
    font-size: 80%;
    }

    .greeting {
        margin-bottom: 0;
        margin-top: 0
    }

    .copy img {
        margin-top: 20px;
    }

    .whoami {
        margin-top: 0;
    }
}