@import url("typography.css");

img {
    max-width: 100%;
}

.main {
    max-width: 1024px;
    width: 100%;
    position: relative;
    margin: 0 auto;
    padding: 10px 20px;
    box-sizing: border-box;
}

.intro {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.intro .greeting {
    font-size: 10em;
}

.mypic {
    width: 135px;
}

.job-title {
    font-weight: 400;
}

.profile .logo {
    width: 80px;
    margin-right: 10px;
}

.profile {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    padding: 20px 0;
    margin-top: 40px;
}

footer .seperator {
    margin-bottom: 20px
}

.seperator {
    text-align: center;
    padding: 20px 0;
    border-bottom: 2px solid #091254;
    border-top: 2px solid #091254;
}

.seperator > *{
    color: #091254;
    margin: 0;
}

.skills .content-container {
    grid-template-columns: repeat(auto-fill, minmax(100px,1fr));
    display: grid;
    align-items: center;
    grid-gap: 40px;
    margin-top: 40px;
}

.skills .logo-container {
    height: 100px;
}

.skills .logo img {
    max-height: 100%;
}

.skills .logo {
    text-align: center;
    text-transform: uppercase;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .job-title {
        white-space: nowrap;
        font-size: 80%;
    }

    .greeting {
        margin-bottom: 0;
        margin-top: 0
    }

    .mypic {
        margin-top: 20px;
    }

    .whoami {
        margin-top: 0;
        font-size: 2.5em;
    }
}